<section class="text-center p-2 my-3">
    <button (click)="selectAdd()" type="button" class="btn btn-secondary text-center m-1 px-5">Add</button>
    <br>
    <br>

    <button (click)="selectSubtract()" type="button" class="btn btn-secondary text-center m-1 px-5">Subtract</button>
    
    <br>
    <br>

    <button (click)="selectMultiply()" type="button" class="btn btn-secondary text-center m-1 px-5">Multiply</button>

    <br>
    <br>
    
    <button (click)="selectDivide()" type="button" class="btn btn-secondary text-center m-1 px-5">Divide</button>
  </section>